.node {
    height: 25px;
    width: 25px;
    padding: 2px;
}

#default-node {
    background-color: grey;
}

#visited-node {
    background-color: lightblue;
}

#start-node {
    background-color: lightgreen;
}

#target-node {
    background-color: lightcoral;
}

#path-node {
    background-color: black;
}