<div class="card control-panel">
     <div class="row">
         <div class="col-sm cp-button mx-1" (click)="clearGrid()">
             <p class="cp-button-text">Clear Grid</p>
         </div>
         <div id="main-btn" class="col-sm cp-button mx-1">
             <p class="cp-button-text" (click)="findPath()">Visualize Algorithm</p>
         </div>
         <div class="col-sm cp-button mx-1">
             <p class="cp-button-text" (click)="createMaze()">Create Maze</p>
         </div>
     </div>
</div>
