table {
    margin: 0px auto;
}
.node {
    height: 25px;
    width: 25px;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
}

#default-node {
    background-color: white;
}

#visited-node {
    background-color: yellow;
}

#start-node {
    background-color: darkgreen;
}

#target-node {
    background-color: darkred;
}

#path-node {
    background-color: steelblue;
}

#searched-node {
    background-color: lightblue;
}
