<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table cdkDropList [cdkDropListData]="grid" (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let row of grid; index as i">
            <td *ngFor="let column of grid[i]; index as j"> 
                <div cdkDrag class=" node" [id]="grid[i][j]['nodeType']"></div>
                <!--<div cdkDropList class=" node" [id]="grid[i][j]['nodeType']" (cdkDropListDropped)="drag(i,j,$event)" (click)="update(i,j,$event)" (mouseover)="update(i,j,$event)"></div>-->
            </td>
        </tr>
    </table>
</body>
</html>
